			</div>
		</div>
		<div style='height:30px;width:100%;background:#16A085;border-left: 1px #16A085 solid;border-right: 1px #16A085 solid;font-size:10px;color:white;text-align:center;padding-top:10px'>
			Construction Manager is a product of JNC Solutions Ltd. If you believe you have received this message in error, please contact <a href="mailto:support@jnc-uk.com">support@jnc-uk.com</a>
		</div>


	</body>
</html>					