<html>

	<body style="background:#ECF0F1;color:#222">

		<div style='height:60px;width:100%;background:#2980B9;border-left: 1px #2980B9 solid;border-right: 1px #2980B9 solid'>	
			<%= image_tag attachments['logo.png'].url, style:"height:50px;margin-top:10px;margin-left:10px;" -%>
		</div>

		<div style="background:#3498DB;height:10px;width:100%;border-left: 1px #3498DB solid;border-right: 1px #3498DB solid"></div>
		<div style="background:#FFFFFF;width:100%;border-left: 1px #BDC3C7 solid;border-right: 1px #BDC3C7 solid">
			<div style="margin-left:10px;font-style:italic;font-size:26px;color:#222;width:80%;margin-left:auto;margin-right:auto;padding-top:20px;">
				<%=@messagetype%>
			</div>
		</div>
		<div style="background:#FFFFFF;width:100%;border-left: 1px #BDC3C7 solid;border-right: 1px #BDC3C7 solid">
			<div style="margin-left:10px;color:#222;width:80%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:20px;">


				
