<section class="row">
	<form id="add-customer-form" class="stacked-form">
		<div style="width: calc(33.3% - 10px); margin: 0 5px; float: left;">
			<h4 class="section-title" style="margin-top: 0; margin-bottom: 0;">Contact</h4>

			<label for="new-customer-company-name">Company Name</label>
			<input id="new-customer-company-name" name="name" placeholder="Company name">

			<label for="new-customer-contact-name">Contact Name</label>
			<input id="new-customer-contact-name" name="contact_name" placeholder="Contact name">

			<label for="new-customer-tel">Tel</label>
			<input id="new-customer-tel" name="tel" placeholder="Tel">

			<label for="new-customer-email">Email</label>
			<input id="new-customer-email" name="email" placeholder="Email">

			<label for="new-customer-www">WWW</label>
			<input id="new-customer-www" name="www" placeholder="WWW">
		</div>

		<div style="width: calc(33.3% - 10px); margin: 0 5px; float: left;">
			<h4 class="section-title" style="margin-top: 0; margin-bottom: 5px;">Address</h4>

			<label for="new-customer-address_1">Address line 1</label>
			<input id="new-customer-address_1" name="address_1" placeholder="Address line 1">
			
			<label for="new-customer-address_2">Address line 2</label>
			<input id="new-customer-address_2" name="address_2" placeholder="Address line 2">
			
			<label for="new-customer-town">Town</label>
			<input id="new-customer-town" name="town" placeholder="Town">
			
			<label for="new-customer-region">Region</label>
			<input id="new-customer-region" name="region" placeholder="Region">
			
			<label for="new-customer-postcode">Postcode</label>
			<input id="new-customer-postcode" name="postcode" placeholder="Postcode">
			
			<label for="new-customer-country_code">Country code</label>
			<input id="new-customer-country_code" name="country_code" placeholder="Country code">
		</div>

		<div style="width: calc(33.3% - 10px); margin: 0 5px; float: left;">
			<h4 class="section-title" style="margin-top: 0; margin-bottom: 5px;">Details</h4>
		
			<label for="new-customer-notes">Notes</label>
			<textarea id="new-customer-notes" name="notes" placeholder="Notes"></textarea>
		</div>
	</form>
</section>