<div id="order-creation-dialog" title="Create Order" style="display: none;">
	<form class="stacked-form" onsubmit="return false">
		<!--
		THIS SHOULD REMAIN COMMENTED OUT UNTIL MAINTENANCE JOBS ARE COMPLETED
		AND QUOTES CAN SENSIBLY BE ATTACHED TO THEM
		
		<label for="mjob_id">MJob</label>
		<select id="mjob_id" name="mjob_id">
			<option value="-1">Select MJob</option>
			<option value="0">New MJob</option>
			<% DesktopMaintenanceTask.select(:id, :ref_1, :work_description).find_each do |mjob| %>
			<option value="<%= mjob.id %>"><%= "#{mjob.ref_1} - #{mjob.work_description}" %></option>
			<% end %>
		</select>

		<div class="or-divider"></div>
		-->

		<label for="contract_id">Contract</label>
		<select id="contract_id" name="contract_id">
			<!--<option value="-1">Select Contract</option>-->
			<option value="0">New Contract</option>
			<% DesktopContract.select(:id, :job_no, :description).find_each do |contract| %>
			<option value="<%= contract.id %>"><%= "#{contract.job_no} - #{contract.description}" %></option>
			<% end %>
		</select>

		<button id="order-attach-button" class="regular-button">Create Order</button>
	</form>
</div>