<section class="row">
	<h1>History for Quote #<%= params[:id] %></h1>

	<table id="history-table">
		<thead>
			<tr>
				<th>When</th>
				<th>What</th>
				<th>Who</th>
			</tr>
		</thead>
		<tbody>
			<% @events.each do |event| %>
			<tr>
				<td><%= event.date.strftime("%H:%M:%S on %d/%m/%Y") %></td>
				<td><%= raw event.description %></td>
				<td><i><%= event.user %></i></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</section>

<script>
$("#history-table").dataTable( {
	"bPaginate": false,
	"bLengthChange": false,
	"bFilter": true,
	"bSort": false,
	"bInfo": false,
	"bAutoWidth": false,
	"sScrollY" : "400px"
});
</script>