This is the support tool for the new web based construction manager.

So far, it has three main parts:

<ul>
	<li><b>Company List</b> - Allows you to create companies. When a company is created on this page, their web database will automatically be generated with the name "conmag_x" where x is the new company's numerical ID.</li>
	<li><b>Company Management</b> - Allows you to view or edit the license information of an existing company, as well as manage that company's users.</li>
	<li><b>User Management</b> - Allows you to edit the properties of an individual user. This includes a hard password reset, sending of a password reset link, and setting of their in-app permissions.</li>
</ul>