<ul class="sub-menu-bar" style="font-size: small;">
        <li class="" onclick="setPlannerTimelineScale('m')">Month View</li>
        <li class="" onclick="setPlannerTimelineScale('w')">Week View</li>
        <li class="" onclick="setPlannerTimelineScale('d')">Day View</li>



        <li style="width:2px;background:#ddd;height:22px;padding:0px;border-bottom:none;margin-top:4px;margin-left:15px;margin-right:15px;"></li>



        <li class="" onclick="setPlannerFilters(1)">Filter Jobs</li>
        <li class="" onclick="setPlannerFilters(2)">Filter Employees</li>
        <li class="" onclick="setPlannerFilters(3)">Filter Subbies</li>
        <li class="" onclick="setPlannerFilters(4)">Filter Skills</li>
</ul>

