
	<thead>
		<tr>
			<th>Status Name</th>
		</tr>
	</thead>
	<tbody>
		<% AssetStatus.all.each do |assetstatus|%>

			<tr id='<%=assetstatus.id%>'>
				<td>
					<%=assetstatus.status_name%>
				</td>
			</tr>
		<%end%>		
	</tbody>


