<% content_for :page_specific_headers do %>
  <script type="text/javascript" src="/assets/contracts/index.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/contracts.css">
<% end %>

<ul class="sub-menu-bar">
	<li><a href="/contracts/new">New</a></li>
	<li id="edit-contract-button">Edit</li>
	<li><a href="/contracts.xls">Excel</a></li>
</ul>

<div class="content-main">
	<table id="contract-list-grid">
		<thead>
			<tr>
				<th>Job No</th>
				<th>Description</th>
				<th>Customer</th>
				<th>Site</th>
				<th>Value</th>
				<th>Start Date</th>
				<th>Date Completed</th>
				<th>Date to be Completed</th>
				<th>Status</th>
				<th>Classification</th>
				<th>Job Analysis</th>
				<th>Project Manager</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>