
<% content_for :page_specific_headers do %>

<% end %>
<div style="text-align:center">
<h3>
You do not have permission for this module. If you believe this is in error, please contact your administrator.
</h3>
</div>