
<table id="attachedfilestable">
	<thead>
		<tr>
			<th>File Name</th>
			<th>Last Modified</th>
			<th>Size</th>
		</tr>
	</thead>
	<tbody>
		<%i=0%>
		<%filesjson=JSON.parse(getAmazonFileList("#{folder}/#{id}"))%>
		<%filesjson.each do |fileitem|%>
		<% i+=1 %>
		<tr id='<%=i%>'>
			<td><%=fileitem['filename']%></td>
			<td><%=fileitem['lastmodified']%></td>
			<td><%=fileitem['filesize']%></td>
		</tr>
		<%end%>

	</tbody>
</table>