<% content_for :page_specific_headers do %>
	<link rel="stylesheet" type="text/css" href="/assets/welcome.css">
<% end %>

<% if flash[:browser_warning] %>
<div class="notice-box">
	<strong>Warning:</strong> It looks like you are using an <strong>old</strong> version of internet explorer. <strong>Construction Manager</strong> makes use of many new web technologies, so we cannot guarantee a bug free experience in Internet Explorer versions 9 or below. We recommend upgrading your browser to <a href="http://www.google.com/chrome" target="_blank">Google Chrome</a>, <a href="http://www.firefox.com/" target="_blank">Mozilla Firefox</a> or <a href="http://windows.microsoft.com/ie" target="_blank">Internet Explorer 11</a>. See <strong><a href="http://browsehappy.com/">Browse Happy</a></strong> for more information.
</div>
<% end %>

<% if flash[:version_warning] %>
<div class="notice-box">
	<strong>Warning:</strong> You appear to be using an old version of construction manager. To ensure proper function, we recommend you update to a version released on or after <strong><%= flash[:required_version] %></strong>. Your current version appears to be <strong><%= flash[:version] %></strong>.
</div>
<% end %>

<section class="text-section">
	<h1>Welcome</h1>
</section>
