<h2 class="section-title">Quotes  <span class="fa fa-envelope"></span></h2>

<div class="doclink">
	<a target="_blank" href="http://jncsolutions.github.io/ConstructionManagerDocs/settings.html#mailtemplates">view documentation</a>
</div>

<%= render "mailsettingsform", section: "quotes" %>

<!-- Sales invoices, suppliers pop and subcontractors pop aren't currently in the
application, so disable them for now. -->
<!--<h2>Sales Invoices</h2>

<%= render "mailsettingsform", section: "sales_invoices" %>

<h2>Suppliers POP</h2>

<%= render "mailsettingsform", section: "suppliers_pop" %>

<h2>Subcontractors POP</h2>

<%= render "mailsettingsform", section: "subcontractors_pop" %>-->