<div style="width: 50%; float: left;">
	<select name="" id="branch_address_names" size="20" style="width: 100%;">
		<% @branch_addresses.each do |address| %>
			<option value="<%= address.id %>"><%= address.add1 %></option>
		<% end %>
	</select>

	<button id="new-branch-address-btn">New</button>
	<button id="delete-branch-address-btn">Delete</button>
	<button id="import-branch-addresses-btn">Import</button>
</div>

<div style="width: 50%; float: left;">
	<form id="branch-address-form" action="" class="aligned-form" onsubmit="return false;">
		<div>
			<label for="add1">Address Line 1</label>
			<input id="add1" name="branch[add1]">
		</div>

		<div>
			<label for="add2">Address Line 2</label>
			<input id="add2" name="branch[add2]">
		</div>

		<div>
			<label for="add3">Address Line 3</label>
			<input id="add3" name="branch[add3]">
		</div>

		<div>
			<label for="add4">Address Line 4</label>
			<input id="add4" name="branch[add4]">
		</div>

		<div>
			<label for="add5">Address Line 5</label>
			<input id="add5" name="branch[add5]">
		</div>

		<div>
			<label for="description">Description</label>
			<input id="description" name="branch[description]">
		</div>

		<div>
			<label for="tel">Tel</label>
			<input id="tel" name="branch[tel]">
		</div>

		<div>
			<label for="fax">Fax</label>
			<input id="fax" name="branch[fax]">
		</div>

		<div>
			<label for="email">Email</label>
			<input id="email" name="branch[email]">
		</div>

		<div>
			<label for="contact">Contact</label>
			<input id="contact" name="branch[contact]">
		</div>

		<input type="hidden" name="branch[customerref]" value="<%= @customer.ref %>">

		<button id="save-address-btn">Save</button>
		<button id="cancel-new-address-btn" style="display: none;">Cancel</button>
	</form>
</div>
