<% content_for :page_specific_headers do %>
  <script type="text/javascript" src="/assets/customers/index.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/customers.css">
<% end %>

<%= render "customersmenu" %>

<div class="content-main">
	<table id="customer-grid">
		<thead>
			<tr>
				<th>Ref</th>
				<th>Company Name</th>
				<th>Contact Name</th>
				<th>Address</th>
				<th>Post Code</th>
				<th>Telephone</th>
				<th>Primary Email</th>
				<th>WWW</th>
				<th>CM50</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>