<%=render "partials/mail/header"%>


	A password reset request has been received for your client portal account at ConstructionManager.Net<br><br>



	Please follow the link below to complete your password reset<br/><br/>


	<a href='http://constructionmanager.net/clientportal/registration?invite=<%=@invite_code%>'>http://constructionmanager.net/clientportal/resetpassword?request=<%=@invite_code%></a><br/><br/>


	If you are unable to complete your password reset or did not request to reset your password please contact us at <a href="mailto:support@jnc-uk.com">Support@jnc-uk.com</a><br/><br/>


<%=render "partials/mail/footer"%>

