<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <% if @from != "" %>
      Your colleague (<%= @from %>) has invited you to join them on Construction Manager.
      <% else %>
      You have been invited to join Construction Manager.
      <% end %>
    </p>

    <p>
      To join, please go to the following address and configure your account:
      <br>
      <%= @url %>
    </p>
  </body>
</html>





