<div style='margin-top:-30px'>
	<div class="borderpanel" style="margin-bottom:15px;">
    	<h5>Labour</h5>   		
    	<div id='labourtransactions'></div>
	</div>
	<div class="borderpanel" style="margin-bottom:15px;">
    	<h5>Materials</h5>   		
    	<div id='materialstransactions'></div>
	</div>	
	<div class="borderpanel" style="margin-bottom:15px;">
    	<h5>Subcontractor Certificates</h5>   		
    	<div id='certificatetransactions'></div>
	</div>		
</div>	