<script>
customfieldcount=<%=DesktopMaintenanceCustomField.count %>
var maintenanceGrid=0;
</script>

<script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
<% content_for :page_specific_headers do %>
  
  <script type="text/javascript" src="/assets/maintenance/index.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/maintenance.css">
<% end %>

<%= render "menu" %>



<div id="main" class="content-main">
	<table id="mjob-table" style="width:100%">
		<thead>
			<th>ID</th>
			<th>MJob No</th>
			<th>Job No</th>
			<th>Customer</th>
			<th>Description</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Priority Desc</th>
			<th>Inception</th>
			<th>Start</th>
			<th>Planned Completion</th>
			<th>Completion</th>
			<th>Address Name</th>
			<th>Address 1</th>
			<th>Address 2</th>
			<th>Address 3</th>
			<th>Address 4</th>
			<th>Address 5</th>
			<th>Manager Name</th>
			<th>Address Description</th>
			<th style="text-align: center;">Value</th>
			<th>Site Ref</th>
			<% DesktopMaintenanceCustomField.all.each do |customfields| %>
			<th><%= customfields.name %></th>
		    <% end %>
		</thead>
	    <tbody>

	    </tbody>	

	</table>
</div>

