				<div id="visittabs" class="smalltabs greentabs" style='height:600px;margin-top:0px;margin-bottom:0px'>
					<ul>
						<li><span><a href='#visittab0'>Details</a></span></li>
						<li><span><a href='#visittab1'>Work Done</a></span></li>
						<li><span><a href='#visittab2'>Forms</a></span></li>
						<li><span><a href='#visittab3'>Status Changes</a></span></li>
					</ul>

					<div id='visittab0'>

							<form id="visittimesform">
								<table style='width:100%;'><tr><td>
									<label>Status</label><br>
									<%= render "/partials/popups/maintenance_integration_status" %>
								</td></tr><tr><td>
								<label>Instructions</label><br>
									<textarea id='visitinstructions' style='height:185px;width:100%'></textarea>
								</td></tr>
								<tr>
									
									<td>
										<div class='borderpanel' style='margin-right:10px; margin-bottom:10px;width:100%;height:240px;margin-top:10px;'>
											<h5>Visit Times</h5>

												<table class="visit_times_table" style="width:730px;">
													<tr>
														<td>
															<label>Planned Start</label>
														</td>	
														<td>
															<input id='plannedstartdate' class='visitdatepicker'>
															<div class="input-group visitclockpicker" data-placement="right" data-align="top" data-autoclose="true">
																<input  id="plannedstarttime" type="text"  class="form-control visittimeinput" value="">
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-time"></span>
																</span>
															</div>
														</td>
														<td>
															<label>Work Start</label>
														</td>	
														<td>
															<input id='workstartdate' class='visitdatepicker'>
															<div class="input-group visitclockpicker" data-placement="right" data-align="top" data-autoclose="true">
																<input  id="workstarttime" type="text"  class="form-control visittimeinput" value="">
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-time"></span>
																</span>
															</div>
														</td>

													</tr>
													<tr>
														<td>
															<label>Planned End</label>
														</td>	
														<td>
															<input id='plannedenddate' class='visitdatepicker'>
															<div class="input-group visitclockpicker" data-placement="right" data-align="top" data-autoclose="true">
																<input  id="plannedendtime" type="text"  class="form-control visittimeinput" value="">
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-time"></span>
																</span>
															</div>
														</td>
														<td>
															<label>Work End</label>
														</td>	
														<td>
															<input id='workenddate' class='visitdatepicker'>
															<div class="input-group visitclockpicker" data-placement="right" data-align="top" data-autoclose="true">
																<input  id="workendtime" type="text"  class="form-control visittimeinput" value="">
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-time"></span>
																</span>
															</div>
														</td>												
													</tr>
													<tr>
														<td rowspan=2 colspan=2 style="text-align:right;vertical-align:top">
															<button id="visitappointmentcreate" type="button" class="save-button" style="display:none">Create Planner Appointment</button>
															<button id="visitappointmentview" type="button" style="display:none">View Planner Appointment</button>
															<div id="visitappointmentcreationnotice" style="display:none">Your appointment will be created when you save your changes. If you change your start and end times before saving your appointment times will also change.</div>
														</td>
														<td>
															<label style='margin-left:10px'>Time Travelling</label>
														</td>
														<td>
															<input type="text" class="visitlockedinput" readonly>
														</td>
													</tr>
													<tr>
														<td>
															<label>Time on Site</label>
														</td>
														<td>
															<input type="text" class="visitlockedinput" readonly>
														</td>
													</tr>											
												</table>
											</div>
										</div>	
									</td>
								</tr>	

							</table>

							
						</form>
					</div>	
				
					<div id='visittab1'>
						<form>
							<table style='width:100%;'>
								<tr>
									<td><label>Work Carried Out</label><br><textarea id="visitworkcarriedout" style='height:220px;width:100%'></textarea></td>
								</tr>
								<tr>
									<td><label>Materials Used</label><br><textarea id="visitmaterialsused" style='height:220px;width:100%'></textarea></td>
								</tr>
							</table>
						</form>
					</div>	

					<div id='visittab2'   >

							<table style='width:100%;' >
								<tr>
									<td style='width:250px;vertical-align:top'>
										<div class='borderpanel gridpanel'>
											<h5 style="margin-bottom:5px">Custom Forms</h5>
											<table id="maintenancevisitxml" style='valign:top;' >
												<%=render :partial =>"/partials/maintenance/maintenance_visit_customformlist" %>
											</table>
											<button id='printcustomformbutton' style='width:240px;margin-top:5px;'>Print</button>	
										</div>
									
									</td>								
									<td style='text-align:center' >
										<div style="height:552px;overflow-y:auto;overflow-x:hidden;margin-left:5px">
											<div id="maintenancevisitformcontents">
										
												<div class="borderpanel gridpanel" style='left:0px;right:0px;height:552px;text-align:center;'>
													<h5>Form Contents</h5>
														<p style="padding-top:200px">Select a form to view its contents.</p>
												</div>
												
											</div>
										</div>
									</td>
								</tr>
							</table>

					</div>	


					<div id='visittab3'>
						<table id="maintenancevisitstatuschanges" >
							<%=render :partial =>"/partials/maintenance/maintenance_visit_status_changes" %>
						</table>
					</div>	



				</div>

