
	<thead>
		<tr>
			<th>Form</th>
		</tr>
	</thead>
	<tbody>

		<%unless params[:xidxml].nil? %>




			<% DesktopIntegrationXML.where(id: params[:xidxml]).each do |xmldata| %>
				<% @xmldoc = Nokogiri::XML(xmldata.xml)
				@xmldoc.xpath("//FORM").each do |formdata|
				%>

				<tr data-xml="<%=formdata.to_s%>">
					<td><%=formdata.attr("name")%> </td>	
				</tr>
				<% end%>
			<%end%>
		<%end%>
	</tbody>