<% content_for :page_specific_headers do %>
  <script type="text/javascript" src="/assets/site_addresses/new.js"></script>
<% end %>

<ul class="sub-menu-bar">
	<li class="menu-back-button"><%= link_to 'Back to list', controller: 'site_addresses' %></li>
</ul>

<section class="row">
	<%= render "form" %>
</div>