<ul class="sub-menu-bar" style="font-size: small;">


	<li id="new_asset_button">New</li>
	<li id="edit_asset_button">Record</li>
	<li id="delete_asset_button">Delete</li>
	<li id="asset_types_button">Equipment Types</li>
	<li id="asset_statuses_button">Equipment Statuses</li>


</ul>


