<div class="content-main">

    <table id="mjob-visit-table">
        <thead>
            <tr>

                <th>Engineer</th>
                <th>MJob</th>
                <th>Visit Ref</th>
                <th>Address</th>
                <th>Post Code</th>
                <th>Visit Status</th>
                <th>Warning</th>
                <th>Received On Device</th>
                <th>Inception Date</th>
                <th>Planned Start</th>
                <th>Planned End</th>
                <th>Completion</th>
                <th>MJob Status</th>
                <th>Instructions</th>
                <th>Work Carried Out</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


</div>
