

<% content_for :page_specific_headers do %>

  <script type="text/javascript" src="/assets/maintenancevisit/index.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/maintenance.css">
<% end %>

<%= render "menu" %>


<div id="columns-panel-mjob-table" class="columns-panel">
    <section class="aligned-form" style="width: 50%; float: left;">
        <input type="checkbox" checked="checked" name="cb" value="0"/>ID
        <br><input type="checkbox" checked="checked" name="cb" value="1"/>Engineer
        <br><input type="checkbox" checked="checked" name="cb" value="2"/>MJob
        <br><input type="checkbox" checked="checked" name="cb" value="3"/>Visit Ref
        <br><input type="checkbox" checked="checked" name="cb" value="4"/>Address
        <br><input type="checkbox" checked="checked" name="cb" value="5"/>Post Code
        <br><input type="checkbox" checked="checked" name="cb" value="6"/>Visit Status
        <br><input type="checkbox" checked="checked" name="cb" value="7"/>Instructions
        <br><input type="checkbox" checked="checked" name="cb" value="8"/>Inception Date
        <br><input type="checkbox" checked="checked" name="cb" value="9"/>Planned Start
        <br><input type="checkbox" checked="checked" name="cb" value="10"/>Planned End
        <br><input type="checkbox" checked="checked" name="cb" value="11"/>Completion
    </section>
</div>



<%=render "grid" %>