$blue:  #3498DB;

$main: $blue;

$lighten1: lighten($main, 15%);
$lighten2: lighten($main, 30%);
$lighten3: #B3D4FC;
$darken1:  darken($main, 10%);
$darken2:  darken($main, 20%);

$complement1: adjust-hue($main, 180);
$complement2: darken($complement1, 5%);

$green: #1abc9c;
$red: #e74c3c;
$soft-red: rgb(255,240,240);
$orange: #E5AE57;

$dark-blue: #2980b9;
