@mixin placeholder-style() {
	font-style: italic;
	//font-size: 0.8em;
}

::-webkit-input-placeholder
{ /* WebKit browsers */
    @include placeholder-style();
}

:-moz-placeholder
{ /* Mozilla Firefox 4 to 18 */
    @include placeholder-style();
}

::-moz-placeholder
{ /* Mozilla Firefox 19+ */
    @include placeholder-style();
}

:-ms-input-placeholder
{ /* Internet Explorer 10+ */
    @include placeholder-style();
}

form {
	padding: 5px;
	text-align: left;

	label {
		cursor: pointer;
		margin-top: 5px;
		//font-size: 0.9em;
	}

	input, select, textarea {
		margin-top: 5px;
		border: solid 2px #ddd;
		border-radius: 6px;
		background-color: white;
		padding: 8px 12px;
		color: #34495e;
		
	}

	.select2-container {
		margin-top: 5px;
	}


	input, select, textarea {
		//padding: 0.2em;
	}
	
	input[disabled], select[disabled], textarea[disabled]{
    //color: #ccc;
	  cursor: not-allowed;
	  background-color: #bdc3c7;
	  opacity: .9;
	  border-color: #bdc3c7 !important;
	}
  
  input:focus, select:focus, textarea:focus{
    color: #34495E;
    border-color: #34495E;
  }

	input[type=checkbox] {
		vertical-align: middle;
	}

	textarea {
		resize: none;
	}

	button {
		margin-top: 10px;
	}

	select {
		background-color: white;
	}

	input.hasDatepicker {
		background: white url('/assets/img/icons/calendar.png') no-repeat;
		background-position: right 3px center;
	}



}

.stacked-form {
	label {
		display: block;
		margin-top: 10px;
		padding: 0 2px;
		font-weight: bolder;

		&:first-child {
			margin-top: 0;		
		}
	}

	input, select, textarea {
		display: block;
		width: 100%;
	}

	button {
		min-width: 200px;
		float: right;
	}

	.button-bar button {
		float: none;
	}

	+ h1, + h2, + h3, + h4, + h5 {
		clear: both;
	}
}

.combined-form {
	label {
		display: block;
		margin-top: 10px;

		&:first-child {
			margin-top: 0;
		}
	}

	input, select, textarea, button {
		display: block;
		width: 100%;
	}

	input {
		height: 30px;
		padding: 5px;
		line-height: 20px;
		border-radius: 0;
		margin-top: 0;
		border-width: 0 1px 1px 1px;
		border-color: #666;
		border-bottom-color: #999;
		@include inner-shadow( 0, 0, 5px, #ccc);

		&:first-child {
			margin-top: 10px;
			border-radius: 5px 5px 0 0;
			border-top-width: 1px;
		}

		&:last-child {
			border-bottom-color: #666;
		}
	}

	button {
		background-color: $main;
		border: solid $main 1px;
		color: white;
		font-weight: normal;
		height: 30px;
		margin-top: 2px;
//		text-shadow: 1px 1px 1px $darken2;
		border-color: $main $darken2 $darken2 $main;
	}
}

.aligned-form {
	label {
		text-align: right;
		width: calc( 30% - 5px );
		vertical-align: middle;
		display: inline-block;
		padding-right: 0.5em;
		font-weight: bolder;

		+ input, + select, + textarea {
			width: 70%;
			vertical-align: middle;
		}

		+ input[type=checkbox] {
			width: 1em;
		}
	}
}

/* Specific forms */

.columns-panel
{
    float: right;
    margin-right: 5px;
    display: none;
    background-color: $lighten2;
    //font-size: small;
    border-color: #d0d9df;
    box-shadow: 1px 1px 1px #888888;
}

.upload-columns-form {
	width: 100%;

	[name=upload-range-from], [name=upload-range-to] {
		width: 40px;
		vertical-align: middle;
	}

	.upload-range-spacer {
		padding-left: 10px;
		padding-right: 10px;
		display: inline;
		vertical-align: middle;
	}
}

#log-in-form {
    float: left;
    width: 400px;
    padding: 10px;
}

.log-in-box {
	position: absolute;
	top: 40px;
	right: 20px;
	width: 300px;

	label {
		//font-size: 0.8em;
//		text-shadow: 1px 1px 1px $darken2;
		font-weight: normal;
		color: white;
		padding-left: 2px;
	}

	input {
		height: 36px;
		display: block;
		margin-top: 5px;
		width: 100%;
		font-family: 'Open Sans', Arial, sans-serif;
		background-color: #FFF;
    border-color: #34495E;
    border-radius: 6px;
	}
	
	input:focus{
	  border-color: #3498DB;
	}

	button {
		margin-top: 5px;
		height: 36px;
		width: 100%;
		background-color: #34495E;
		border-radius: 6px;
		font-family: 'Open Sans', Arial, sans-serif;
	}

	button:hover {
	}

	.sign-up-box {
		color: white;
		font-style: italic;
		font-weight: normal;
		width: 100%;
		text-align: center;

		a {
			font-style: normal;
		}
	}

	.forgot-password-link {
		font-style: italic;
		padding-left: 10px;
		color: #FFF;
	}
	
}

input[name=data_import_csv] {
	width: 100%;
}

.form-error{
  color:#c0392b;
}

.standarddropdown{
	width:250px;

}

.standardinput{
	width:250px;
	height:40px;
}
.standardtextarea{
	width:250px;
	height:120px;
}

.popover-title{
	//font-family:sans-serif;
}




.clockpicker-tick{
	//font-family:sans-serif;
}
.datepicker{
	height:40px;
}
.clockpicker{
	width:100px;
	height:40px;
}
.form-control{
	padding-top:0px !important;
	padding-bottom:0px !important;
	height:40px;
	width:100%;
}

.glyphicon-time{
	height:19px;
}
.input-group-addon{
	margin-left:-5px;
	height:40px;
	padding:3px;

}

.error-msg-box{
  clear: both;
  float: right;
  width: 100%;  
  padding: 3px;
  color: #c0392b;
  text-align: right;
  border: #c0392b solid 1px;
  margin-top:10px;
}

.floating-form-column-container {
	overflow: hidden;
}

.select2-choice{
  background-image:none !important;
}

.select2-dropdown-open .select2-choice{
  background: #FFF;
}

.select2-drop-active {
  border: 2px solid #34495e !important;
  border-top: none !important;
}

.select2-container .select2-choice .select2-arrow{
  background-image: none !important;
  border-left: none !important;
}

.select2-search{
  margin: 6px 0 !important;
}

#customer-details-form input, #customer-details-form select, #customer-details-form textarea,
#quotes-forms input, #quotes-forms select, #quotes-forms textarea{
  border-color: #ddd;
  height: 36px;
}

#customer-details-form input:focus, #customer-details-form select:focus, #customer-details-form textarea:focus,
#quotes-forms input:focus, #quotes-forms select:focus, #quotes-forms textarea:focus{
  border-color: #34495e;
}

#customer-details-form input[disabled], #customer-details-form select[disabled], #customer-details-form textarea[disabled],
#quotes-forms input[disabled], #quotes-forms select[disabled], #quotes-forms textarea[disabled]{
    cursor: not-allowed;
    background-color: #bdc3c7;
    opacity: .9;
    border-color: #bdc3c7;
}


.smalltabs{
	  //box-shadow:0px 0px 2px #aaa;
	  background:white!important;
}

.smalltabs.ui-tabs{
	border:2px solid #34495E!important;
//	border:2px solid #16A085!important;
	border-radius:3px!important;
	padding-top:0px!important;
	padding-bottom:0px!important;
    .ui-tabs-panel{
    	padding:5px;
    }
	.ui-tabs-nav{
		padding-top:2px;
		background-color:#34495E;	
//		background-color:#16A085;	
		height:32px;
		margin-bottom:0px;
		li.ui-state-default.ui-corner-top{
			background:transparent;
		}
		li[role="tab"]{
			height:29px;
			padding:0px;
			padding-left:5px;
			padding-right:5px;			

			a.ui-tabs-anchor{
				line-height:27px;
			}				
		}

	}
	.ui-tabs-panel{
		background:white;
	}
	.ui-tabs-active{
		background:white!important;
	}
}

.smalltabs.ui-tabs.greentabs{
	border:2px solid #16A085!important;
	.ui-tabs-nav{
		background-color:#16A085;	
	}

}
.smalltabs.greentabs{
	  //box-shadow:0px 0px 2px #aaa;
	  background:white!important;
}

.addsiteaddressbutton{
	background-color:#eeeeee;
	border: 2px solid #dddddd;
	margin-top:2px;
	height:39px;
	padding-left:5px;
	padding-right:5px;
	width:26px;
	vertical-align: middle;
	i{
		margin-top:1px;
		vertical-align: middle;
		color:#888888;
		font-size: 14px;
	}
}


.standarddropdownwithadd{
	width:220px;
}