<header class="login-header">

      <table class='product-name-frame' style='empty-cells:show'>
      <tr>
        <td rowspan=2>
          <img src='<%=image_path("logo.svg")%>' style="height:135px;width:135px;margin-right:7px;margin-top:-5px">
        </td>
        <td>Construction</td>
         </tr>
      <tr>
        <td>Manager.Net</td>
      </tr>
      <tr><td></td>
      </td><td style='line-height:10px'> <span class="company-name">by JNC Solutions Ltd.</span></td></tr>
    </table>

	<br>

</header>

<section class="login-page-section">
  Construction Manager is the latest iteration of JNC Solutions'
  construction management software. It will allow you to save time and effort
  across all aspects of your workflow.
</section>




<section class="login-page-section">
  <div class="imagebox-container">
    <div class="imagebox">
      <i class="fa fa-file-text-o"></i>
      <div>Improves your workflow</div>
    </div>
    <div class="imagebox">
      <i class="fa fa-clock-o"></i>
      <div>Saves you time</div>
    </div>
    <div class="imagebox">
      <i class="fa fa-gbp"></i>
      <div>Saves you money</div>
    </div>
  </div>
</section>

<section class="login-page-section">
  ConstructionManager.Net will be available soon. In the meantime you may be interested in classic <a style='color:#34495E' href='http://www.constructionsoftware.uk.com/' >Construction Manager</a>.
</section>



<div class="log-in-box">
  <form action="#" onsubmit="return false;">
    <input type="text" name="username" id="username" placeholder="your@username.com">
    <input type="password" name="password" id="password" placeholder="Password">
    <button id="log-in-button">Log In</button>
    <div id="error-message-wrapper"></div>
  </form>

  <a href="/passwordreset" class="forgot-password-link">Forgot your password?</a><br>
  <a href="/clientportal" class="forgot-password-link">Looking for the Clientportal?</a>
</div>

<footer id="footer">
			<a target="_blank" href="/termsandconditions">Terms &amp; Conditions</a> 
			<span style="font-style: normal;">|</span>
			<a target="_blank" href="/privacy">Privacy Policy</a> 
			<span style="font-style: normal;">|</span>
			<a target="_blank" href="http://docs.constructionmanager.net">User Manual</a>
</footer>

<script>
function sendLoginRequest() {
  $('#log-in-button').setButtonActive();
  $.ajax({
    type: 'POST',
    url: '/login/check',
    data: {
      username: $("#username").val(),
      password: $("#password").val()
    },
    success: function(response) {
      if( response.error != undefined ) {
        $('#log-in-button').setButtonFailed("Invalid username or password");
      } else {
        document.location = "/welcome"
      }
    },
    dataType: 'json'
  });
}

$(function() {
  $('#log-in-button').click(sendLoginRequest);
  $("#username").focus();
});
</script>