<div class="content-main">

    <table id="mjob-visit-table">
        <thead>
            <tr>
                <%
                customfields=[]
                DesktopMaintenanceCustomField.order("tblMaintenanceCustomFields_ID DESC").all.each do |customfield|  
                    customfields<< customfield.name
                end

                fullcolumns=['Engineer','MJob','Visit Ref','Address','Post Code','Visit Status','Warning','Received On Device','Inception Date','Planned Start','Planned End','Completion','MJob Status','Instructions','Work Carried Out'].concat(customfields)
                forbiddencolumns=ClientportalHiddenColumns.where(:customer_id=>session[:customer_id],:section=>"is_portal_maintenance").pluck(:column)
                columns=fullcolumns-forbiddencolumns
                %>
                <% columns.each do |column|%>
                    <th><%=column%></th>
                <%end%>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <script>
        fullcolumns=<%=raw fullcolumns.to_json%>;
        columns=<%=raw columns.to_json%>;
    </script>

</div>
