<%contractid=-2 if contractid.nil?%>
<%jobno="" if jobno.nil?%>

<select id='popup_contract' class='standarddropdown'>	
	<option></option>
	<% DesktopContract.select("tblContractId,tblContractXidJobNo,tblContractDescription,tblContractXIDCustomer").each do |contract| %>
		<option value='<%= contract.tblContractId %>' data-xidcustomer='<%=contract.tblContractXIDCustomer%>' <%='selected' if contractid==contract.tblContractId || jobno==contract.tblContractXidJobNo %>><%= escape_nil(contract.tblContractXidJobNo) + " " + escape_nil(contract.tblContractDescription) %></option>
	<% end %>
</select>

<script>
	$(document).ready(function() {
		$("#popup_contract").select2({
			dropdownAutoWidth:true,
			placeholder:"Select A Contract"
		});
	});
</script>