
<%customerid=-2 if customerid.nil?%>
<%customerref="" if customerid.nil?%>

<select id='popup_customer' class='standarddropdown'>
	<option></option>	
	<% DesktopCustomer.select("tblCustomer_Ref,tblCustomer_Name,tblCustomer_ID").each do |customer| %>
		<option <%='selected' if customerid==customer.tblCustomer_ID || customerref==customer.tblCustomer_Ref %>  value='<%= escape_nil(customer.tblCustomer_Ref) %>' actualid='<%= customer.tblCustomer_ID %>'><%= escape_nil(customer.tblCustomer_Ref) + " " + escape_nil(customer.tblCustomer_Name) %></option>
	<% end %>
</select>

<script>
	$(document).ready(function() {
		$("#popup_customer").select2({
			dropdownAutoWidth:true,
			placeholder:"Select A Customer"
		});
	});
</script>