<%statusvalue=-2 if statusvalue.nil?%>

<select id='popup_integrationvisitstatus' style='width:100%;text-align:left'>
	<% DesktopIntegrationStatus.select("tblIntegrationStatus_StatusValue,tblIntegrationStatus_StatusName,tblIntegrationStatus_StatusDescription").each do |status| %>
		<option  <%='selected' if statusvalue==status.tblIntegrationStatus_StatusValue%>  value='<%= status.tblIntegrationStatus_StatusValue %>'> <%= status.tblIntegrationStatus_StatusName<<" - " <<status.tblIntegrationStatus_StatusDescription %></option>
	<% end %>
</select>


<script>
	$(document).ready(function() {
		$("#popup_integrationvisitstatus").select2({
			dropdownAutoWidth:true,
		});
	});
</script>