<%priorityid=-2 if priorityid.nil?%>

<select id='popup_priority' class='standarddropdown'>
	<option></option>	
	<% DesktopMaintenancePriority.select("tblPriority_ID,tblPriority_Ref,tblPriority_Description,tblPriority_TimeLapse").each do |priority| %>
		<option  <%='selected' if priorityid==priority.tblPriority_ID%> data-interval='<%=priority.tblPriority_TimeLapse%>'  value='<%= priority.tblPriority_ID %>'><%= priority.tblPriority_Ref + " " + priority.tblPriority_Description %></option>
	<% end %>
</select>


<script>
	$(document).ready(function() {
		$("#popup_priority").select2({
			dropdownAutoWidth:true,
			placeholder:"Select A Priority"
		});
	});
</script>