#contracts {
  background: white;
  color: #34495e;
  //text-shadow: -2px 2px 3px #bdc3c7;
  //box-shadow: -5px 9px 2px #2980b9;
}

#contract-screen-tabs {
  padding-bottom: 20px !important;
  border-radius: 0px;
}

input{
  margin-bottom: 5px;
}

.shaded-box {
  background: inherit;
  margin-bottom: 20px;
  padding: 0 .2em;
  padding-bottom: 20px !important;
  -webkit-box-shadow: 0px 7px 7px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    0px 7px 7px 0px rgba(50, 50, 50, 0.7);
  box-shadow:         0px 7px 7px 0px rgba(50, 50, 50, 0.7);
}

#contract-defaults {
	fieldset:last-of-type input[type=text] {
		width: calc(70% - 2em);
	}
}

.select2-results {
  .dropdowntext {
    display: inline-block;
  }

  .dropdowntext:first-child {
    width: 25%;
  }

  .dropdowntext:last-child {
    width: 75%;
    text-align: right;
  }
}

.ui-state-focus{
  border:none !important;
}

#contract-screen-tabs-details .button-bar,
.tenders+div,
#contract-screen-tabs-subcontractors div,
#contract-screen-tabs-addresses ul,
#contract-screen-tabs-maintenanceoptions div.control-bar,
#contract-screen-tabs-attachedfiles div.control-bar{
  text-align: center;
}

#contract-screen-tabs-maintenanceoptions div.control-bar button{
  width: 115px;
}

.tenders+div+div,
#contract-screen-tabs-subcontractors div:last-child,
#contract-screen-tabs-addresses ul:last-child,
#contract-screen-tabs-maintenanceoptions div.control-bar:last-child, 
#contract-screen-tabs-attachedfiles div.control-bar:last-child{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ecf0f1;
  text-align: right;
}

.tenders+div+div button,
#contract-screen-tabs-subcontractors div:last-child button,
#contract-screen-tabs-addresses ul:last-child button,
#contract-screen-tabs-maintenanceoptions div.control-bar:last-child button,
#contract-screen-tabs-attachedfiles div.control-bar:last-child button{
  width: 150px;
}

#contract-screen-tabs .dataTable th{
  background-color: #34495e;
  color: #FFF;
}

#contract-screen-tabs .dataTable td{
  border: none;
  border-bottom:1px solid #34495e;
}

.dataTables_scrollBody{
  margin-top: 0;
}

#contract-defaults{
  padding:0;
}

#site-address-buttons button {
  min-width: inherit;
  width: calc(33% - 10px);
}

h3{
  //text-shadow: 3px 3px 3px #2c3e50;
}

h3 .fa{
  float:right;
  margin: 20px 15px 0 0;
  //text-shadow: 3px 3px 3px #2c3e50;
}

#tenders-tree {
  background-color: #ecf0f1;
}

#contract-screen-tabs tbody tr:first-child{
  border-top: 1px solid #ECF0F1;
}

#contract-quotes-grid tbody tr:hover button.regular-button{
  background: #34495E;
}

#contract-quotes-grid tbody tr.row_selected:hover button.regular-button{
  background: #2980B9;
}


#tender-templates-dlg {
  > div {
    width: 300px;
    float: left;

    &:first-child {
      select {
        width: 100%;
      }
    }

    &:nth-child(2) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  select .default::after {
    content: " [default]";
  }
}