
$cellred:  url("redtile.png");
$cellorange:  url("orangetile.png");
$cellgreen: url("greentile.png");
$cellblue:  url("bluetile.png");

// Place all the styles related to the maintenance controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#maintenance{
  background: white;
  color: #34495e;
  //text-shadow: -2px 2px 3px #bdc3c7;
  //box-shadow: -5px 9px 2px #2980b9;
}

.maintenance-screen-tabs h3:not(.ui-accordion-header){
  font-size: 1.2em;
  text-align: left;
  margin-bottom: 15px;
  background-color: #34495e;
  color: #fff;
  padding-left: 15px;
  font-weight: inherit;
  font-size: 38px;
  line-height: 2em;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #2980b9;
  width: 100%;
  margin: 0 auto 20px auto;
}


.cellduesoon{
	background:FFA514
}



.regularfieldscol1,.customfieldscol1,.markupscol1,.extrafieldscol1{
	width:150px;
}
.regularfieldscol2,.customfieldscol2,.markupscol2,.extrafieldscol2{
	width:250px;
}




.datepicker{
	float:left;
	width:50%;
}

.clockpicker{
	float:right;
	width:48%;
}

.visitspanel{
	height:400px;

}



.regularfieldspanel{
	height:570px;
	margin-right:8px;
}

.customfieldspanel{
	height:360px;
	margin-right:8px;

}
.extrafieldspanel{
	margin-bottom:5px;
	height:205px;
	margin-right:8px;
}
.generalinstructionspanel{
	height:570px;
}



.celloverdue{
 	background: $cellred;
 	background-repeat:repeat;
	//background: $cellred;

	color:white;
}


.cellstatus2{
	color:#34495E!important;
}

.cellstatusNot_Sent{
	background:$cellblue;
 	background-repeat:repeat;	
}
.cellstatusAccepted{
	background:$cellgreen;
	background-repeat:repeat;
}

.cellstatusAllocated{
	background:$cellgreen;
 	background-repeat:repeat;	
}

.cellstatusDeclined{
	background:$cellred;
 	background-repeat:repeat;	
	
}
div.cellstatusDeclined{
	color:white!important;
}

.cellstatusTravelling{
	background:$cellgreen;
 	background-repeat:repeat;	
}

.cellstatusOn_Site{
	background:$cellorange;
 	background-repeat:repeat;	
}

.cellstatusOn_Hold{
	background:$cellorange;
 	background-repeat:repeat;	
}

.cellstatusCancelled{
	background:$cellred;
 	background-repeat:repeat;	
	color:white!important; 	
}
div.cellstatusCancelled{
	color:white!important;
}

.cellstatusComplete{
	background:$cellgreen;
 	background-repeat:repeat;	
}



.visitspanel span:not(.ui-icon,.select2-chosen), .borderpanel>span{
  border-bottom: 1px dotted #ccc;
  display: inline-block;
  text-align: center;
  width: 98%;
  margin-bottom: 7px; 
}

label {
		vertical-align: middle;
		display: inline-block;
		padding-right: 0.5em;
		font-weight: bolder;
}

#maintabs{
  border-radius: 0;
  margin-bottom: 0;
}

#visittabs{
  border: 1px solid;
}

span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s{
  background-image: url(/assets/img/jqueryuitheme/ui-icons_ffffff_256x240.png);
}

span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e{
  background-image: url(/assets/img/jqueryuitheme/ui-icons_ffffff_256x240.png);
}



.regularwidth{
	width:80px;
	max-width: 80px;
	min-width: 80px;
}

.widecolumn{
	width:200px;
	max-width:200px;
	min-width: 200px;
}

.colwidthdate{
	width:80px;
	max-width:80px;
	min-width:80px;
}

.regularwidthvisit{
	width:100px;
	max-width: 100px;
	min-width: 100px;
}

.visitcolumns{
	width:100px;
	max-width: 100px;
	min-width: 100px;
}

.visitdatepicker{
	float:left;
	width:120px;
}

.visitclockpicker{
	margin-left:10px;
	float:right;
	width:100px;

}

.visit_times_table{
	white-space: nowrap;
	td{
		vertical-align: middle;
		padding:5px;
		padding-bottom:0px;
		line-height:0px;
		text-align:right;
	}
}

.visitlockedinput{
	width:230px;
}

#visitappointmentcreationnotice{
	line-height:16px;
	text-align:left;
	border: 2px #ddd solid;
	padding:6px;
	border-radius:3px;
	width:340px;
	height:94px;
	white-space:normal;
	background:white;
}


.attachmodifiedcolumn{
	width:100px;
	max-width: 100px;
	min-width: 100px;
}
.attachsizecolumn{
	width:50px;
	max-width: 50px;
	min-width: 50px;
}
.attachfilenamecolumn{
	width:150px;
	max-width: 150px;
	min-width: 150px;	
}

#attachedfilesdirectorytree{
	height:382px;

	background:white;
	border: 2px #ddd solid;
	border-radius:4px;
	margin-right:5px;
	margin-left:5px

}



.ui-widget-content .jstree-anchor{
	background-color:transparent;
}


.ui-widget-content .jstree-node{
	background-color:transparent;
}

.jstree-anchor.jstree-clicked{
	background-color:#2980B9!important;
	color:white;
}
.jstree-anchor.jstree-clicked:hover{
	color:white;
}

a.jstree-anchor:hover{color:#34495E}
.attachmentsfolderbutton{
	margin-left:4px;
	margin-top:10px;
	width:123px;
}

#filelistloading{
	display:none;
	position:absolute;
	background-color:white;
	padding:3px;
	z-index:100;
	left:431px;
	top:113px;
	width:484px;
	height:374px;
	span{
		left:45%;
		position:absolute;
		top:45%;

	}
}