#customers{
  background: white;
  color: #34495e;
//  text-shadow: -2px 2px 3px #bdc3c7;
  box-shadow:-5px 9px 2px #2980b9;
}

.reports-box-footer {
    margin-top: 5px;
    min-height: 30px;
}

.mail-content-box {
    form {
        > div {
            width: 100%;
        }

        fieldset {
            width: 50%;
            float: left;

            label {
                width: 4em;
            }

            input, select {
                width: calc(100% - 4em);
            }

            &:first-of-type {
                padding-right: 5px;
            }

            &:last-of-type {
                padding-left: 5px;
            }
        }

        textarea[name=mail_body] {
            height: 200px;
        }
    }

    h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .mail-box-footer {
        margin-top: 5px;
        min-height: 30px;
        overflow: hidden;
    }

    .mail-box-back-button {
        float: left;
        margin-right: 10px;
    }
}

.row button{
  width: 150px;
}

/*----------------------------------------------------------------------------*\
   #order-creation-dialog
\*----------------------------------------------------------------------------*/
#order-creation-dialog {
    p {
        margin: 5px 0 0;
        text-align: center;
    }

    label[for=contract_id] {
        margin-top: 0;
    }
}


/*----------------------------------------------------------------------------*\
   #quote-edit-screen
\*----------------------------------------------------------------------------*/
.select2-drop {
    width: 530px !important;
}

div[id^="s2id_quote-items-grid"] {
    height: 100%;

    .select2-arrow {
        height: 100%;
        border-radius: 0 !important;
    }

    .select2-choice {
        border-width: 0 !important;
        background: transparent !important;
        background-image: none !important;
        height: 100% !important;
        border-radius: 0 !important;
    }
}

.product-result {
    width: 100%;

    span {
        word-wrap: break-word;
        display: inline-block;
        vertical-align: top;
        width: 30%;

        &:last-child {
            padding-left: 20px;
            width: 70%;
        }
    }
}

.select2-chosen{
  color: #000;
}

#quotes-forms #address {
    height: 120px;
}

/*----------------------------------------------------------------------------*\
   #invoice-dialog
\*----------------------------------------------------------------------------*/
#invoice-dialog {
    label {
        width: calc(100% - 2em);
        text-align: left;
    }

    input[type=checkbox] {
        width: 1em;
    }

    .invoiceable-items {
        max-height: 300px;
        overflow-y: scroll;
        display: block;

        tr {
            height: 25px;
            line-height: 25px;

            td:first-of-type {
                width: 100%;
            }

            td:last-of-type {
                padding-right: 5px;
            }
        }

        input[type=text] {
            width: 30px;
            height: 25px;
            line-height: 25px;
            margin: 0 0 0 5px;
        }
    }
}

#quote-items-grid_wrapper .totalscell{
  cursor: pointer;
}

#quotes-forms textarea#instructions {
    height: 100px;
}

.quotes-textfields {
    label {
        width: calc(15% - 5px);
    }

    label + textarea {
        width: 85%;
    }
}

#quotes-forms #new-quote-note {
    height: 100px;
}

#quote-notes-list {
    h4 {
        font-weight: bold;
        margin-bottom: 0;

        span {
            font-weight: normal;
        }
    }

    p {
        margin-top: 0;
    }
}