#reports{
  background: white;
  color: #34495e;
//  text-shadow: -2px 2px 3px #bdc3c7;
  //box-shadow:-5px 9px 2px #2980b9;
}

.reports-list {
	padding-top: 5px;
}

.report-holder {
	width: 160px;
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;

	.report-filename {
		width: 100%;
		text-align: center;
	}

	img {
		border: solid black 1px;
		cursor: pointer;

		&.selected {
			border: solid blue 1px;
			box-shadow: blue 0px 0px 5px;
		}
	}
}