<% content_for :page_specific_headers do %>
  <script type="text/javascript" src="/assets/products/save_product.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/products.css">
<% end %>

<ul class="sub-menu-bar">
	<li class="menu-back-button"><%= link_to 'Back to list', controller: 'products' %></li>
</ul>

<section class="row">
	<h1 id="product-h1">New Product</h1>

	<%= render "form" %>
</section>