<%case params[:section]
    when "is_portal_maintenance"
        customfields=[]
        customfieldselectors=[]
        DesktopMaintenanceCustomField.order("tblMaintenanceCustomFields_ID DESC").all.each do |customfield|  
            customfields<< customfield.name
            customfieldselectors<< ("CustomField"+customfield.id.to_s)
        end
        columns=['Engineer','MJob','Visit Ref','Address','Post Code','Visit Status','Warning','Received On Device','Inception Date','Planned Start','Planned End','Completion','MJob Status','Instructions','Work Carried Out'].concat(customfields)
        columnselectors=['tblMaintenanceRelated_Name','tblMaintenanceTask_Ref1','tblMaintenanceRelated_IntegrationJobNo','tblAddresses_Name','tblAddresses_Add5','tblIntegrationStatus_StatusName','1 as warning','tblMaintenanceRelated_transmissiontimestamp','tblMaintenanceRelated_VisitInception','tblMaintenanceRelated_VisitPlannedStart','tblMaintenanceRelated_VisitPlannedEnd','tblMaintenanceRelated_VisitCompleted','tblMaintenanceCustomStatuses_StatusName','tblMaintenanceRelated_Instructions','tblMaintenanceRelated_WorkCarriedOut'].concat(customfieldselectors)

    when "is_portal_maintenancetasks"
        customfields=[]
        customfieldselectors=[]
        DesktopMaintenanceCustomField.order("tblMaintenanceCustomFields_ID DESC").all.each do |customfield|  
            customfields<< customfield.name
            customfieldselectors<< ("CustomField"+customfield.id.to_s)
        end
        columns=['MJob No','Job No','Customer','Description','Status','Priority','Priority Desc','Inception','Start','Planned Completion','Completion','Address Name','Address 1','Address 2','Address 3','Address 4','Address 5','Manager Name','Address Description','Value','Site Ref'].concat(customfields)
        columnselectors=['tblMaintenanceTask.tblMaintenanceTask_Ref1','tblcontracts.tblContractXidJobNo','tblcustomers.tblCustomer_Ref','tblmaintenancetask.tblMaintenanceTask_WorkDescription','tblmaintenancecustomstatuses.tblMaintenanceCustomStatuses_StatusName','tblpriority.tblPriority_Ref','tblpriority.tblPriority_Description','tblmaintenancetask.tblMaintenanceTask_InceptionDateTime','tblmaintenancetask.tblMaintenanceTask_BeginDateTime','tblmaintenancetask.tblMaintenanceTask_PlannedCompletion','tblmaintenancetask.tblMaintenanceTask_CompletionDateTime','tbladdresses.tblAddresses_Name','tbladdresses.tblAddresses_Add1','tbladdresses.tblAddresses_Add2','tbladdresses.tblAddresses_Add3','tbladdresses.tblAddresses_Add4','tbladdresses.tblAddresses_Add5','tblmaintenancetask.tblMaintenanceTask_ManagerName','tbladdresses.tblAddresses_Description','tblmaintenancetask.tblMaintenanceTask_OrderValue','tbladdresses.tblAddresses_Ref'].concat(customfieldselectors)

    else

end

columnsettings=ClientportalHiddenColumns.where(:section=>params[:section], :customer_id=>params[:customerid]).pluck("column")
            
columns.each_with_index do |column,index| %>

	<tr>
		<td style="width:300px"><%=column%></td>
		<td style="width:100px"><input type="checkbox" class="clientportalhiddencolumncheck" column="<%=column%>" columnselector="<%=columnselectors[index]%>" <%=if columnsettings.include?(column) then "" else "checked" end%> ></td>
	</tr>

<%end%>