<h3 class="section-title">Schedule of Rates Discount Scheme <span class="fa fa-calendar"></span></h3>

<table id="maintenance-options-grid">
	<thead>
		<tr>
			<th>Name</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Adjustment %</th>
		</tr>
	</thead>
</table>

<div class="control-bar" style="margin-top: 10px;">
	<button class="save-button">Add Dates</button>
	<button class="regular-button">Edit Dates</button>
	<button class="delete-button">Remove Dates</button>
</div>

<div class="control-bar" style="margin-top: 10px;">
	<button class="save-button">Save</button>
	<button class="regular-button">Print</button>
	<button class="regular-button">Close</button>
</div>