<% content_for :page_specific_headers do %>
	<link rel="stylesheet" type="text/css" href="/assets/login.css">
<% end %>

<header class="login-header">
	<span class="product-name">Construction Manager</span>
	<br>
	<span class="company-name">by JNC Solutions Ltd.</span>
</header>

<section class="login-page-section">
  Forgot your password? Enter your username to have a reset link sent to your email address.
</section>

<section class="login-page-section sign-up-box">
  <form class="stacked-form" onsubmit="return false;">
  	<label for="username">Email address</label>
    <input type="text" name="username" id="username" placeholder="your@username.com">

    <button id="password-reset-button" onclick="return false;">Request Password Reset</button>
  </form>

  <div id="password-reset-response" class="notice-span" style="text-align: center; display: none;">A password reset link has been sent to <span id="recipient"></span></div>
</section>

<script>
$(function() {
  $('#password-reset-button').click(sendPasswordReset);
  $("#username").focus();
});

function sendPasswordReset() {
	var button = $(this);
	button.setButtonActive();
	$.ajax({
		type: 'POST',
		url: '/mail/request_password_reset',
		data: {
			username: $("#username").val()
		},
		success: function(response) {
			if (response.status == 0) {
				$("#recipient").text($("#username").val());
				$("#password-reset-response").css("display", "inline-block");
				button.setButtonSucceeded();
			}
		},
		dataType: 'json'
	});
}
</script>