<style type="text/css">
    span{
        display:inline-block;
    }
    dt{
        font-weight:bold;
    }
    .strongtext{
        font-weight:bold;
    }
    .tab1{
        margin-left:50px;
    }
    .tab2{
        margin-left:100px;
    }
</style>

<section class="text-section">
	<h3>JNC PRIVACY STATEMENT</h3>

	<h4>Overview</h4>

	JNC Solutions is committed to protecting your right to privacy as a user of 
	our online construction manager. It is our policy to respect the privacy of 
	private communication. We collect information about our users in order to help 
	us continually improve the products and facilities we offer and so that we can 
	enter into commercial arrangements, including the sale of advertising space. 
	JNC Solutions will always adhere to the UK Data Protection Legislation. This 
	Privacy Policy only relates to the JNC Web Construction Manager web site and does 
	not extend to your use of the Internet outside of the JNC Web Construction
	Manager.

	<br><br>

	<h4>What data do we collect?</h4>

	We will collect personal data as provided to us during the registration or 
	purchase process, which you agree to supply us as accurate. We do not monitor 
	your use of the Internet but we do use cookie technology to monitor your use 
	of JNC Web Construction Manager. This information is not stored alongside your 
	personal data and will only be used on an anonymous, aggregated basis. We 
	may hold personal data relating to the documents and forms downloaded in 
	order to maintain and improve the facilities we offer.

	<br><br>

	<h4>What do we do with it?</h4>

	We may use personal information about you to build up a profile of your 
	interests and preferences. This information will not be disclosed to third 
	parties.
</section>