<% content_for :page_specific_headers do %>
	<link rel="stylesheet" type="text/css" href="/assets/login.css">
<% end %>

<header class="login-header">
	<span class="product-name">Construction Manager</span>
	<br>
	<span class="company-name">by JNC Solutions Ltd.</span>
</header>

<section class="login-page-section sign-up-box">
	<form class="stacked-form" onsubmit="return false;" autocomplete="off">
		<!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
		<input style="display:none" type="text" name="fakeusernameremembered"/>
		<input style="display:none" type="password" name="fakepasswordremembered"/>

		<label for="username">Username</label>
		<input type="text" name="username" id="username" placeholder="your@username.com" autocomplete="off">

		<label for="password">New password</label>
		<input type="password" name="password" id="password" placeholder="New password" autocomplete="off">

		<label for="confirm-password">Confirm new password</label>
		<input type="password" id="confirm-password" placeholder="Confirm new password" autocomplete="off">

		<button id="reset-password-button" onclick="return false;" disabled>Reset Password</button>
	</form>

	<div class="notice-span">Passwords must be at least 8 characters long.</div>
</section>

<script>
$(function() {
  $('#reset-password-button').click(sendReset);
  $("#username").focus();

  $('#password, #confirm-password').keyup(testPasswords);
});

function testPasswords() {
	if (passwordsMatch() && passwordIsComplex()) {
		$("#reset-password-button").prop("disabled", false);
	} else {
		$("#reset-password-button").prop("disabled", true);
	}
}

function passwordsMatch() {
	var password = $("#password").val();
	var confirm_password = $("#confirm-password").val();

	if (password === confirm_password) {
		$("#confirm-password").css("border-color", "green");
		$("#confirm-password").css("border-width", "1px");
		return true;
	} else {
		$("#confirm-password").css("border-color", "red");
		$("#confirm-password").css("border-width", "2px");
		return false;
	}
}

function passwordIsComplex() {
	var password = $("#password").val();
	return password.length >= 8;
}

function sendReset() {
	var button = $(this);
	button.setButtonActive();

	$.ajax({
		type: 'POST',
		url: '/reset_password',
		data: {
			username: $("#username").val(),
			password: $("#password").val(),
			token:    "<%= @token %>"
		},
		success: function(response) {
			if (response.status == 0) {
				button.setButtonSucceeded();
				swal({
					title:"Password Reset",
					showCancelButton: false,
					text: "Your password has been reset, you will now be returned to the login page.",
					type:"success",
					closeOnConfirm: false
				}, function (isConfirm) {
					window.location.href="/";
				});
			} else {
				$(".notice-span").html("Could not reset your password. Please check that your email address is correct. If it has been more than 20 minutes since you requested the reset link, it may have expired. Click <a href='/passwordreset'>here</a> to request another.");
				button.setButtonFailed();
			}
		},
		dataType: 'json'
	});
}
</script>